@model ProjetGo.Benevole

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer</h2>

<h3>Voulez-vous vraiment supprimer le membre: @Html.DisplayFor(model => model.codeBenevole)?</h3>
<div>
    <h4>Bénévole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Date d'adhesion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateAdhesionBenevole)
        </dd>

        <dt>
            Nom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilisateur.nomUser)
        </dd>

        <dt>
            Prénom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilisateur.prenomUser)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Effacer" class="btn btn-danger" /> |
            <button class="btn btn-b-n">@Html.ActionLink("Retour à la liste", "Index")</button>
        </div>
    }
</div>
