@model ProjetGo.Benevole

@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <h4>Informations sur le bénévole </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Date d'adhesion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateAdhesionBenevole)
        </dd>

        <dt>
            Nom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilisateur.nomUser)
        </dd>
        <dt>
            Prénom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilisateur.prenomUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.codeBenevole }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
