@model ProjetGo.Fichier
   
 @{
     ViewBag.Title = "Add";
}

<h2>Create</h2>


@using (Html.BeginForm("Add", "Ficier", FormMethod.Post, new { enctype = "multipart / form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Fichier</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.nomAltFichier, "Titre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nomAltFichier, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nomAltFichier, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.linkFichier, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="FichierFile" id="require" />
                @Html.ValidationMessageFor(model => model.linkFichier, "", new { @class = "text-danger" })
            </div>
        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ajouter" class="btn btn-b-n" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la liste", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

