@model ProjetGo.CompteRendu

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer</h2>

<h3>Voulez-vous vraiment supprimer la compte rendu?</h3>
<div>
    <h4>Compte Rendu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fréquence
        </dt>

        <dd>
            @Html.DisplayFor(model => model.frequenceCompteRendu)
        </dd>

        <dt>
            Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCompteRendu)
        </dd>

        <dt>
            Réalisations complétées
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjetCompteRendu.realisationsCompletees)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Effacer" class="btn btn-danger" /> |
            <button class="btn btn-b-n">@Html.ActionLink("Retour à la liste", "Index")</button>
        </div>
    }
</div>
