@model ProjetGo.CampagneLeveeFond

@{
    ViewBag.Title = "Details";
}

<h2>Modificer</h2>

<div>
    <h4>Campagne de levée de fond: @Html.DisplayFor(model => model.titreCampagneLeveeFond)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Titre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titreCampagneLeveeFond)
        </dd>

        <dt>
            Date début
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDebutCampagneLeveeFond)
        </dd>

        <dt>
            Date fin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateFinCampagneLeveeFond)
        </dd>

        <dt>
            Montant
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montantCibleCampagneLeveeFond)
        </dd>

        <dt>
            Total
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalRealiseCampagneLeveeFond)
        </dd>

        <dt>
            Projet
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projet.titreProjet)
        </dd>

    </dl>
</div>
@Html.ActionLink("Voir les dons", "Index", "Dons", null, htmlAttributes: new { @class = "btn btn-b-n" })

<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.codeCampagneLeveeFond }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
