@model IEnumerable<ProjetGo.Fichier>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomAltFichier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linkFichier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Projet.titreProjet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomAltFichier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linkFichier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Projet.titreProjet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.codefichier }) |
            @Html.ActionLink("Details", "Details", new { id=item.codefichier }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.codefichier })
        </td>
    </tr>
}

</table>
