@model IEnumerable<ProjetGo.Projet>

<h2>Tous nos projets</h2>

<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            Titre
        </th>
        <th>
            Description
        </th>
        <th>
            But
        </th>
        <th>
            Objectif
        </th>
        <th>
            Statut
        </th>
        <th>
            Bénéfices
        </th>
        <th>
            Date début
        </th>
        <th>
            Budget
        </th>
        <th>
            Date début réelle
        </th>
        <th>
            Date fin réelle
        </th>
        <th>
            Image
        </th>
        <th>
            Réalisations
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codeProjet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titreProjet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descriptionCourteProjet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.butProjet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.objectifProjet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.statutProjet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.beneficesEscomptees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateDebutEstimeeProjet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.budgetProjet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateDebutReelleProjet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateFinReelleProjet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codefichier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjetCompteRendu.realisationsCompletees)
            </td>
            <td>
                @Html.ActionLink("Details", "DetailsMB", new { id = item.codeProjet })
            </td>
            <td>
            </td>
        </tr>
    }

</table>
