@model ProjetGo.BenevolesProjet

@{
    ViewBag.Title = "Create";
}

<h2>Nouveau bénévole</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ajouter un bénévole</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.codeBenevoleProjet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.codeBenevoleProjet, "Bénévole", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.codeBenevoleProjet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.codeBenevole, "Code Bénévole", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("codeBenevole", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.codeBenevole, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ajouter" class="btn btn-b-n" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la liste", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
