@model ProjetGo.ProjetCompteRendu

@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <h4>Détails du compte rendu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Réalisations complétés
        </dt>

        <dd>
            @Html.DisplayFor(model => model.realisationsCompletees)
        </dd>

        <dt>
            Date fin estimé
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateFinEstimee)
        </dd>

        <dt>
            Échéancier
        </dt>

        <dd>
            @Html.DisplayFor(model => model.echeancier)
        </dd>

        <dt>
            Total collecté
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalFondsCollectes)
        </dd>

        <dt>
            Total dépenses
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalDepenses)
        </dd>

        <dt>
            État avancement
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etatAvancement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etatRisques)
        </dt>

        <dd>
            État des risques
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.codeProjetCompteRendu }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
